@import url("https://fonts.googleapis.com/css?family=Poppins");
html body {
  margin: 0;
  position: relative;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif; }
  html body #root #Routes .Navigations {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
    height: 60px;
    background-color: #1e90ff;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4); }
    html body #root #Routes .Navigations .menu {
      margin: auto; }
      html body #root #Routes .Navigations .menu a {
        color: #ecf0f1;
        outline: none;
        padding: 20px;
        text-decoration: none;
        transition: all .3s;
        cursor: pointer;
        font-size: 15px; }
        html body #root #Routes .Navigations .menu a:hover {
          background-color: #0073e6; }
    html body #root #Routes .Navigations .initials {
      position: absolute;
      cursor: pointer;
      right: 10px;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: #0073e6; }
      html body #root #Routes .Navigations .initials .card-text {
        color: #ecf0f1;
        line-height: 40px;
        text-align: center;
        font-size: 19px; }
  html body #root #Routes .SidenavProfile {
    position: relative; }
    html body #root #Routes .SidenavProfile .SidenavProfile-Menu {
      position: fixed;
      z-index: 2;
      top: 60px;
      right: -200px;
      width: 200px;
      height: 100vh;
      transition: all .3s;
      background-color: #f5f6fa;
      box-shadow: -1px 0px rgba(0, 0, 0, 0.2); }
      html body #root #Routes .SidenavProfile .SidenavProfile-Menu .SidenavProfile-Img {
        margin-top: 40px;
        text-align: center; }
        html body #root #Routes .SidenavProfile .SidenavProfile-Menu .SidenavProfile-Img img {
          height: 100px;
          width: 100px;
          border-radius: 50%; }
      html body #root #Routes .SidenavProfile .SidenavProfile-Menu ul {
        margin: 40px 0 0 0;
        list-style-type: none;
        padding: 0; }
        html body #root #Routes .SidenavProfile .SidenavProfile-Menu ul li {
          height: 40px; }
          html body #root #Routes .SidenavProfile .SidenavProfile-Menu ul li span {
            line-height: 40px;
            padding-left: 20px; }
      html body #root #Routes .SidenavProfile .SidenavProfile-Menu .SidenavProfile-Auth {
        text-align: center; }
        html body #root #Routes .SidenavProfile .SidenavProfile-Menu .SidenavProfile-Auth a {
          cursor: pointer;
          padding: 7px;
          border: 1px solid #1e90ff;
          border-radius: 5px;
          color: #1e90ff;
          outline: none;
          transition: all .2s; }
          html body #root #Routes .SidenavProfile .SidenavProfile-Menu .SidenavProfile-Auth a:hover {
            text-decoration: none; }
          html body #root #Routes .SidenavProfile .SidenavProfile-Menu .SidenavProfile-Auth a:active {
            background-color: #1e90ff;
            color: #ffffff; }
    html body #root #Routes .SidenavProfile .SidenavProfile-Menu-Slider {
      right: 0; }
    html body #root #Routes .SidenavProfile .SidenavProfile-Toggle {
      position: fixed;
      cursor: pointer;
      transition: all .2s; }
    html body #root #Routes .SidenavProfile .SidenavProfile-Toggle-Active {
      position: fixed;
      z-index: 1;
      height: 100vh;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.4); }
  html body #root #Routes .Component {
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    padding-bottom: 80px; }
    html body #root #Routes .Component .Pages-Loading {
      margin-top: 10%;
      text-align: center; }
      html body #root #Routes .Component .Pages-Loading img {
        height: 60px;
        width: 60px; }
    html body #root #Routes .Component #Auth .container-fluid:nth-child(1) .row .col-lg-4 .card .card-body .card-title {
      font-size: 30px;
      text-align: center;
      color: #1e90ff; }
    html body #root #Routes .Component #Auth .container-fluid:nth-child(1) .row .col-lg-4 .card .card-body .card-text {
      font-size: 16px;
      text-align: center; }
    html body #root #Routes .Component #Auth .container-fluid:nth-child(1) .row .col-lg-4 .card .card-body form .form-group button {
      box-shadow: none;
      transition: all .2s;
      background-color: #1e90ff; }
      html body #root #Routes .Component #Auth .container-fluid:nth-child(1) .row .col-lg-4 .card .card-body form .form-group button:active {
        background-color: #0073e6; }
    html body #root #Routes .Component #Auth .container-fluid:nth-child(2) .col-lg-4 p {
      font-size: 14px;
      text-align: center; }
      html body #root #Routes .Component #Auth .container-fluid:nth-child(2) .col-lg-4 p .SignUp {
        color: #1e90ff;
        cursor: pointer; }
    html body #root #Routes .Component #ClassId_Type2 .container-fluid .row .col-lg-11 .Pages-Title {
      text-align: center; }
      html body #root #Routes .Component #ClassId_Type2 .container-fluid .row .col-lg-11 .Pages-Title .card-title {
        font-size: 30px; }
    html body #root #Routes .Component #ClassId_Type2 .container-fluid .row .col-lg-11 .main-frame {
      background-color: #ffffff;
      box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
      height: 400px;
      overflow: hidden;
      overflow-y: auto;
      border-radius: 0; }
      html body #root #Routes .Component #ClassId_Type2 .container-fluid .row .col-lg-11 .main-frame .card-body .container-fluid .col-lg-3 a {
        outline: none; }
        html body #root #Routes .Component #ClassId_Type2 .container-fluid .row .col-lg-11 .main-frame .card-body .container-fluid .col-lg-3 a:hover {
          text-decoration: none; }
        html body #root #Routes .Component #ClassId_Type2 .container-fluid .row .col-lg-11 .main-frame .card-body .container-fluid .col-lg-3 a .card {
          margin-top: 10px;
          padding: 0;
          height: 150px;
          transition: all .3s;
          border: none;
          border-radius: 0;
          border-bottom: 2px solid #1e90ff; }
          html body #root #Routes .Component #ClassId_Type2 .container-fluid .row .col-lg-11 .main-frame .card-body .container-fluid .col-lg-3 a .card:hover {
            background-color: #ffffff;
            border: 1px solid rgba(30, 144, 255, 0.2); }
          html body #root #Routes .Component #ClassId_Type2 .container-fluid .row .col-lg-11 .main-frame .card-body .container-fluid .col-lg-3 a .card .container-fluid .row .col-lg-4 {
            line-height: 150px; }
            html body #root #Routes .Component #ClassId_Type2 .container-fluid .row .col-lg-11 .main-frame .card-body .container-fluid .col-lg-3 a .card .container-fluid .row .col-lg-4 .building {
              color: #3498db;
              font-size: 80px; }
          html body #root #Routes .Component #ClassId_Type2 .container-fluid .row .col-lg-11 .main-frame .card-body .container-fluid .col-lg-3 a .card .container-fluid .row .col-lg-8 .card-text {
            color: #222f3e;
            font-size: 20px;
            text-align: center; }
          html body #root #Routes .Component #ClassId_Type2 .container-fluid .row .col-lg-11 .main-frame .card-body .container-fluid .col-lg-3 a .card .container-fluid .row .col-lg-8 ul li {
            font-size: 15px;
            color: #222f3e; }
    html body #root #Routes .Component #BuildingClassType2 .container-fluid .row .col-lg-11 .main-frame {
      background-color: #ffffff;
      box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
      height: 400px;
      border-radius: 0; }
      html body #root #Routes .Component #BuildingClassType2 .container-fluid .row .col-lg-11 .main-frame .card-body .container-fluid .col-lg-2 .card {
        border-radius: 0;
        cursor: pointer;
        transition: all .2s;
        background-color: #f1f2f6; }
        html body #root #Routes .Component #BuildingClassType2 .container-fluid .row .col-lg-11 .main-frame .card-body .container-fluid .col-lg-2 .card:hover {
          box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4); }
        html body #root #Routes .Component #BuildingClassType2 .container-fluid .row .col-lg-11 .main-frame .card-body .container-fluid .col-lg-2 .card .card-body {
          position: relative; }
          html body #root #Routes .Component #BuildingClassType2 .container-fluid .row .col-lg-11 .main-frame .card-body .container-fluid .col-lg-2 .card .card-body .classDetail .classIcon {
            color: #ffffff;
            font-size: 30px;
            float: left; }
          html body #root #Routes .Component #BuildingClassType2 .container-fluid .row .col-lg-11 .main-frame .card-body .container-fluid .col-lg-2 .card .card-body .classDetail .card-text {
            float: right;
            font-size: 20px; }

@media screen and (max-width: 600px) {
  html body #root #Routes .Component #ClassId_Type2 .container-fluid .row .col-lg-11 .main-frame .card-body .container-fluid .col-lg-3 a .card {
    height: 100px;
    border: none;
    border-radius: 5px;
    background-color: #1e90ff; }
    html body #root #Routes .Component #ClassId_Type2 .container-fluid .row .col-lg-11 .main-frame .card-body .container-fluid .col-lg-3 a .card .container-fluid .row .col-lg-4 {
      line-height: 100px; }
      html body #root #Routes .Component #ClassId_Type2 .container-fluid .row .col-lg-11 .main-frame .card-body .container-fluid .col-lg-3 a .card .container-fluid .row .col-lg-4 .building {
        color: #ffffff;
        font-size: 40px; }
    html body #root #Routes .Component #ClassId_Type2 .container-fluid .row .col-lg-11 .main-frame .card-body .container-fluid .col-lg-3 a .card .container-fluid .row .col-lg-8 .card-text {
      color: #ffffff;
      font-size: 15px;
      text-align: center; }
    html body #root #Routes .Component #ClassId_Type2 .container-fluid .row .col-lg-11 .main-frame .card-body .container-fluid .col-lg-3 a .card .container-fluid .row .col-lg-8 ul li {
      display: none; } }
